.wrap-login100 {
  direction: ltr;
  padding: 160px 130px 33px 95px;
  border: 2px solid #363a4b;
  background-color: transparent;
}
.container-login100 {
  min-height: 0;
  background: none;
  background-color: none;
  background-color: #191e2d;
}
.login100-form-title {
  font-family: vazir-bold;
  font-size: 40px;
  color: white;
}
.txt2 {
  font-family: vazir-regular;
  color: white;
}
.create-acc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-long-arrow-right {
  transform: rotate(180deg);
  margin-right: 5px;
}
.login100-form-btn {
  font-family: vazir-bold;
  font-size: 1.4rem;
  padding-top: -2px;
  background-color: #19712e;
}
.input100::placeholder {
  color: #666666;
}
