.navbar {
  background-color: #131722;
  box-shadow: 1px 6px 18px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 6px 18px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 6px 18px 1px rgba(0, 0, 0, 0.45);
  font-family: vazir-regular;
  position: sticky !important;
  top: 0;
  z-index: 10;
}
.navbar-dark {
  width: 100%;
}
.container {
}
.form-control {
  flex: none !important;
  justify-content: end;
  width: 10% !important;
  background-color: #ebebeb;
}

#responsive-navbar-nav {
  flex-grow: unset !important;
  flex-basis: unset !important;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-radius: 8px 0 0 8px !important;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  width: auto !important;
  border-radius: 0 8px 8px 0 !important;
}
.input-group {
  width: auto !important;
}
.navbar-nav {
  --bs-nav-link-padding-y: 0rem;
}

.nav-hover::after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--bs-nav-link-hover-color);
  padding-bottom: 2px;
  border-radius: 1px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  visibility: hidden;
}
.nav-hover:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.dropdown-toggle::after{
    visibility: visible;
}
.dropdown-item{
    display: flex !important;
}
.dropdown-toggle::after{
    margin-right: 4px;
    vertical-align: 1px;
}
