@font-face {
  font-family: vazir-bold;
  src: url('./Assets/Fonts/Vazir-Bold-UI.ttf');
}
@font-face {
  font-family: vazir-regular;
  src: url('./Assets/Fonts/Vazir-Regular.ttf');
}
body {
 background-color:#191e2d !important;
  direction: rtl;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
  color: #e4e5e5 ;
}
p{
  margin: 0;
}
