.flex-container {
  display: flex;
  align-items: center;
}
.news-img img {
  width: 60px;
  /* padding-left: 15px; */
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 5px;
}
.news-img{
  width: 15%;
}
.news-text{
width: 75%;
}
.detail-news{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 12px;
}
.news-text p{
  margin-top: 5px;
padding-right: 15px;
color: white;
margin-bottom: 0;
font-family:vazir-bold;
}
.title-news{
  margin-top: 25px;
}