.container-header {
  margin: 0 10%;
}
.header {
  display: flex;
  margin-top: 40px;
}
.header-Tab {
  height: 400px;
  margin-left: 20px;
}
.news {
  border-radius: 10px;
  background: #23293a;
  height: 490px;
  width: 37%;
}
