  .container-banner{
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: rgb(29, 42, 54);
    margin-top: 50px;
  }
  .container-banner p{
 color: white;
 margin-top: 50px;
 font-family: vazir-bold;
 font-size: 100px;
  }
